@model WildStays.Models.Listing

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript (Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>


<style>
    .image {
        margin: auto;
    }

    .adjustImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .row {
        background-color: lightgray;
        outline: 1px solid black;
    }

</style>

<p><a href="/Reservations/Grid">Back to listings</a></p>
<div class="image">
    <div id="carouselDetails" class="carousel slide" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Model.Images" class="adjustImage" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="@Model.Images" class="adjustImage" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="@Model.Images" class="adjustImage" alt="Image 3">
            </div>
        </div>
        @*<button class="carousel-control-prev" type="button" data-bs-target="#carouselDetails" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDetails" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>*@
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>PRICE:</h5>
        <p>@Model.Price.ToString("0.00 NOK")</p>
    </div>
    <div class="col">
        <h5>LOCATION:</h5>
        <p>@Model.Name</p>
    </div>
    <div class="col">
        <h5>GUESTS:</h5>
        <p>@Model.Guests</p>
    </div>
    <div class="col">
        <h5>BEDROOMS:</h5>
        <p>@Model.Bedrooms</p>
    </div>
    <div class="col">
        <h5>BATHROOMS:</h5>
        <p>@Model.Bathrooms</p>
    </div>
</div>
<div class="row">
    <h5>DESCRIPTION:</h5>
    <p>@Model.Description</p>
</div>
<div class="row">
    <div class="col">
        <h5>CONTACT THE HOST:</h5>
        <p>Hostname Lastname</p>
        <p>Number</p>
    </div>
    <div class="col">
        <h4>Make a Reservation</h4>
        <form asp-action="CreateReservation" method="post">
            <input type="hidden" name="listingId" value="@Model.Id" />
            <div class="form-group">
                <label for="StartDate">Start Date:</label>
                <input type="date" id="StartDate" name="StartDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>
            <div class="form-group">
                <label for="EndDate">End Date:</label>
                <input type="date" id="EndDate" name="EndDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>

            </div>
            <button type="submit">Reserve</button>
        </form>
    </div>
</div>

