@model IEnumerable<WildStays.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="AmountPeople">Filter by Number of Guests:</label>
        <select name="AmountPeople" class="form-control">
            <option value="">All</option>
            <option value="1">1 or more</option>
            <option value="2">2 or more</option>
            <option value="3">3 or more</option>
            <option value="4">4 or more</option>
            <option value="5">5 or more</option>
            <option value="6">6 or more</option>
            <option value="7">7 or more</option>
            <option value="8">8 or more</option>
            <option value="9">9 or more</option>
            <option value="10">10 or more</option>
            <option value="11">11 or more</option>
            <option value="12">12 or more</option>
            <option value="13">13 or more</option>
            <option value="14">14 or more</option>
            <option value="15">15 or more</option>
            <option value="16">16 or more</option>
            <option value="17">17 or more</option>
            <option value="18">18 or more</option>
            <option value="19">19 or more</option>
            <option value="20">20 or more</option>
        </select>

        <label for="AmountBathrooms">Filter by Number of Bathrooms:</label>
        <select name="AmountBathrooms" class="form-control">
            <option value="">All</option>
            <option value="1">1 or more</option>
            <option value="2">2 or more</option>
            <option value="3">3 or more</option>
            <option value="4">4 or more</option>
            <option value="5">5 or more</option>
            <option value="6">6 or more</option>
            <option value="7">7 or more</option>
            <option value="8">8 or more</option>
            <option value="9">9 or more</option>
            <option value="10">10 or more</option>
            <option value="11">11 or more</option>
            <option value="12">12 or more</option>
            <option value="13">13 or more</option>
            <option value="14">14 or more</option>
            <option value="15">15 or more</option>
            <option value="16">16 or more</option>
            <option value="17">17 or more</option>
            <option value="18">18 or more</option>
            <option value="19">19 or more</option>
            <option value="20">20 or more</option>
        </select>

        <!-- Correct the label for filtering bedrooms -->
        <label for="AmountBedrooms">Filter by Number of Bedrooms:</label>
        <select name="AmountBedrooms" class="form-control">
            <option value="">All</option>
            <option value="1">1 or more</option>
            <option value="2">2 or more</option>
            <option value="3">3 or more</option>
            <option value="4">4 or more</option>
            <option value="5">5 or more</option>
            <option value="6">6 or more</option>
            <option value="7">7 or more</option>
            <option value="8">8 or more</option>
            <option value="9">9 or more</option>
            <option value="10">10 or more</option>
            <option value="11">11 or more</option>
            <option value="12">12 or more</option>
            <option value="13">13 or more</option>
            <option value="14">14 or more</option>
            <option value="15">15 or more</option>
            <option value="16">16 or more</option>
            <option value="17">17 or more</option>
            <option value="18">18 or more</option>
            <option value="19">19 or more</option>
            <option value="20">20 or more</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bedrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bathrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                </td>
            </tr>
        }
       

    </tbody>
</table>

