@model WildStays.Models.Reservation

@{
    ViewData["Title"] = "Reservation Confirmation";
}

<div class="container">
    <h2>Reservation Confirmation</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Listing Information</h4>
            <dl class="row">
                <dt class="col-sm-4">Listing Name:</dt>
                <dd class="col-sm-8">@Model.Listing.Name</dd>

                <dt class="col-sm-4">Description:</dt>
                <dd class="col-sm-8">@Model.Listing.Description</dd>

                <dt class="col-sm-4">Type:</dt>
                <dd class="col-sm-8">@Model.Listing.Type</dd>

                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">@Model.Listing.Price</dd>


            </dl>
        </div>
        <div class="col-md-6">
            <h4>Reservation Details</h4>
            <dl class="row">
                <dt class="col-sm-4">Start Date:</dt>
                <dd class="col-sm-8">@Model.StartDate.ToShortDateString()</dd>

                <dt class="col-sm-4">End Date:</dt>
                <dd class="col-sm-8">@Model.EndDate.ToShortDateString()</dd>


            </dl>
        </div>
    </div>
</div>
<form method="post" asp-action="ConfirmReservation">
    <button type="submit" class="btn btn-primary">Confirm Reservation</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

